client_env_for_demo_on_bluemix.txt
[{"id":"5ec6c4c8.a1393c","type":"function","name":"Random","func":"msg.payload = parseInt(Math.random()*2);\nreturn msg;","outputs":1,"noerr":0,"x":740.5148315429688,"y":1587.4417114257812,"z":"475ab7c8.e433c8","wires":[["f4569a2.f0ba968"]]},{"id":"49bf01fb.be8648","type":"debug","name":"","active":true,"console":"false","complete":"false","x":748.140941619873,"y":1144.809606552124,"z":"475ab7c8.e433c8","wires":[]},{"id":"c274e575.05fb38","type":"csv","name":"","sep":"\\t","hdrin":"","hdrout":"","multi":"mult","ret":"\\r\\n","temp":"","x":830.7124900817871,"y":1092.0954341888428,"z":"475ab7c8.e433c8","wires":[["d6ddd372.cec118","16e3a482.f28dfb"]]},{"id":"d6ddd372.cec118","type":"debug","name":"","active":true,"console":"false","complete":"false","x":962.9028587341309,"y":1149.0953121185303,"z":"475ab7c8.e433c8","wires":[]},{"id":"814a9a83.a257a","type":"http request","name":"","method":"GET","ret":"txt","url":"http://localhost:5448/getlocjs?m=g,l,p&usecache=0&fmt=jsonp&appk=k3wBu9LyAjx89fN7Eyic8zSGR6x9IdzYLh7DIGI3di-eoyc9MeuSgPp3Vqj7uIgtmBrtyNxWnoUMYD1hnp6L-VCxCg7w1soS.POUDjNjuG6Xv7HC9kCTCwrAivgubjUemcwjqxiNMp0k2znipszqrwSErJiN2O.oUJ7ACS56wMalqYIU6bEpjhJtpW8fzAT5tKVj80fF1ffrO06g8omquf6VCoYCGXZJp4qHb1XcRxFEdKLlgwZ3M.-st5uVATSYDIz2tKGsW7nVn.qdcXvRtCNoWZxpzdHbLzPSoMcjjacbSNwCV9vBH30wXglq8Vy-zBFYKQdqGRyR3uoA1Z9chA__,bm9kZQ__,bm9kZQ__","x":574.9124240875244,"y":1431.7715635299683,"z":"475ab7c8.e433c8","wires":[["6180221a.edec64","41fec04b.e70a8"]]},{"id":"85835ec7.11f8d8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":389.05529403686523,"y":1383.6286754608154,"z":"475ab7c8.e433c8","wires":[["814a9a83.a257a"]]},{"id":"41fec04b.e70a8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":875.769567489624,"y":1434.7715902328491,"z":"475ab7c8.e433c8","wires":[]},{"id":"5c3cf52b.f4b8ac","type":"json","name":"","x":619.8552570343018,"y":1490.4286642074585,"z":"475ab7c8.e433c8","wires":[["50ddec2e.49b5fc"]]},{"id":"6180221a.edec64","type":"function","name":"Replace","func":"var tmp = msg.payload;\nmsg.payload = tmp.replace(\"recvLoc2(\",\"\")\n                .replace(/\\)$/,\"\");\nreturn msg;","outputs":1,"noerr":0,"x":486.99811363220215,"y":1494.7143659591675,"z":"475ab7c8.e433c8","wires":[["5c3cf52b.f4b8ac"]]},{"id":"50ddec2e.49b5fc","type":"function","name":"Copy","func":"var tmp = msg.payload;\nmsg.x = tmp[1].x;\nmsg.y = tmp[1].y;\nmsg.place_name = tmp[1].info.addr;\nmsg.payload = {};\nmsg.payload.lat = msg.x;\nmsg.payload.lon = msg.y;\nmsg.payload.place_name = msg.place_name;\n\nreturn msg;","outputs":1,"noerr":0,"x":739.8552379608154,"y":1489.0000925064087,"z":"475ab7c8.e433c8","wires":[["41fec04b.e70a8","583f718c.109dc8"]]},{"id":"583f718c.109dc8","type":"http response","name":"","x":866.9981060028076,"y":1489.0001096725464,"z":"475ab7c8.e433c8","wires":[]},{"id":"15d489c7.18b33e","type":"http in","name":"","url":"/getlocation","method":"get","swaggerDoc":"","x":391.1409721374512,"y":1429.0000438690186,"z":"475ab7c8.e433c8","wires":[["814a9a83.a257a"]]},{"id":"64b7073d.5ee44","type":"http in","name":"","url":"/getdevices","method":"get","swaggerDoc":"","x":388.30764389038086,"y":1145.3333702087402,"z":"475ab7c8.e433c8","wires":[[]]},{"id":"16e3a482.f28dfb","type":"http response","name":"","x":959.2362327575684,"y":1092.3333492279053,"z":"475ab7c8.e433c8","wires":[]},{"id":"2d4b1280.cacc16","type":"http in","name":"","url":"/findme","method":"get","swaggerDoc":"","x":345.8076477050781,"y":20,"z":"475ab7c8.e433c8","wires":[["b56ffbb4.2175e8"]]},{"id":"b56ffbb4.2175e8","type":"template","name":"HTML","field":"payload","format":"handlebars","template":"<HTML>\n<HEAD>\n<TITLE>No internet, but find me!</TITLE>\n<META name='viewport' content='initial-scale=1.5, width=device-width'/>\n</HEAD>    \n<BODY bgcolor='silver'>\n<TABLE bgcolor='gray' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+2' color='white'><A href='findme' style='text-decoration:none; color:white;'>No internet, but find me!</A></FONT>\n</TD></TR></TABLE><BR>\nIn this service, you can search<BR>\nthe location of your friends and family<BR>\nwhen they cannot use the Internet connections.<BR><BR>\nFor user:<BR>\n<TABLE bgcolor='blue' style='border:1px solid gray;border-radius: 5px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+1' color='white'><A href='register' style='text-decoration:none; color:white;'>Register your friends and family</A></FONT>\n</TD></TR></TABLE><BR>\n<BR>\nFor volunteers:<BR>\n<TABLE bgcolor='green' style='border:1px solid gray;border-radius: 5px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+1' color='white'><A href='upload' style='text-decoration:none; color:white;'>Upload device IDs around you</A></FONT>\n</TD></TR></TABLE><BR>\n<BR>\nFor user:<BR>\n<TABLE bgcolor='red' style='border:1px solid gray;border-radius: 5px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+1' color='white'><A href='search' style='text-decoration:none; color:white;'>Search your friends and family</A></FONT>\n</TD></TR></TABLE><BR>\n</BODY>\n</HTML>","x":515.8076782226562,"y":21.428563117980957,"z":"475ab7c8.e433c8","wires":[["52f2da2a.249154","fce0f9fc.031f08"]]},{"id":"52f2da2a.249154","type":"http response","name":"","x":672.950511932373,"y":21.428571701049805,"z":"475ab7c8.e433c8","wires":[]},{"id":"f9fc89ef.0caec","type":"http in","name":"","url":"/upload","method":"get","swaggerDoc":"","x":339.4743232727051,"y":303.19050455093384,"z":"475ab7c8.e433c8","wires":[["2eb2b849.6d45c8"]]},{"id":"98615be4.321ea","type":"http in","name":"","url":"/register","method":"get","swaggerDoc":"","x":347.2838668823242,"y":139.00006294250488,"z":"475ab7c8.e433c8","wires":[["d55382f7.c7cb4"]]},{"id":"d2729ff4.463d3","type":"http in","name":"","url":"/result","method":"get","swaggerDoc":"","x":360.8553581237793,"y":864.5239939689636,"z":"475ab7c8.e433c8","wires":[["6c94c533.1355c4"]]},{"id":"e6d62e47.c05418","type":"template","name":"HTML","field":"payload","format":"handlebars","template":"<HTML>\n<HEAD>\n<TITLE>No internet, but find me!</TITLE>\n<META name='viewport' content='initial-scale=1.5, width=device-width'/>\n</HEAD>    \n<BODY bgcolor='silver'>\n<TABLE bgcolor='gray' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+2' color='white'><A href='findme' style='text-decoration:none; color:white;'>No internet, but find me!</A></FONT>\n</TD></TR></TABLE><BR>\nThank you for your cooperation.<BR>\nThese data was uploaded.<BR><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Device IDs:</B><BR>\n<PRE>{{devs_info}}</PRE>\n</TD></TR></TABLE><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Infomation:</B><BR>\nLongitude: {{lat}}<BR>\nLatitude: {{lon}}<BR>\nPlace: {{place_name}}<BR>\n</TD></TR></TABLE><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Map:</B><BR>\n<IMG src=\"http://maps.google.com/maps/api/staticmap?center={{lon}},{{lat}}&zoom=12&markers=size:mid|color:blue|{{lon}},{{lat}}&size=300x200&sensor=false&format=jpg-baseline\" />\n</TD></TR></TABLE><BR>\n<A href='findme'>Top</A><BR>\n</BODY>\n</HTML>\n<BR><BR>\n</BODY></HTML>","x":771.2362632751465,"y":655.2857494354248,"z":"475ab7c8.e433c8","wires":[["4175b1a9.eb0988","92b328d8.2e6a7"]]},{"id":"4175b1a9.eb0988","type":"http response","name":"","x":909.8076820373535,"y":659.5714645385742,"z":"475ab7c8.e433c8","wires":[]},{"id":"83a92930.ebe89","type":"http request","name":"getdevices","method":"GET","ret":"txt","url":"http://localhost:1880/getdevices2","x":498.0934028625488,"y":459.42858505249023,"z":"475ab7c8.e433c8","wires":[["d1cd0bf9.32642"]]},{"id":"de819a7b.f689d","type":"http request","name":"getlocation","method":"GET","ret":"txt","url":"http://localhost:1880/getlocation2","x":514.3315315246582,"y":282.47622537612915,"z":"475ab7c8.e433c8","wires":[["3ade203.4a8f86"]]},{"id":"57494686.364c9","type":"http response","name":"","x":1087.462417602539,"y":127.67862701416016,"z":"475ab7c8.e433c8","wires":[]},{"id":"28c2e2d.625949e","type":"http response","name":"","x":610.8553161621094,"y":941.9524669647217,"z":"475ab7c8.e433c8","wires":[]},{"id":"581b7d65.8c163c","type":"template","name":"HTML","field":"payload","format":"html","template":"<HTML>\n<HEAD>\n<TITLE>No internet, but find me!</TITLE>\n<META name='viewport' content='initial-scale=1.5, width=device-width'/>\n</HEAD>    \n<BODY bgcolor='silver'>\n<TABLE bgcolor='gray' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+2' color='white'><A href='findme' style='text-decoration:none; color:white;'>No internet, but find me!</A></FONT>\n</TD></TR></TABLE><BR>\nNote the device IDs  of your friend or family.<BR><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Your friend and family IDs:</B><BR>\n<PRE>{{devs_info}}</PRE>\n</TD></TR></TABLE><BR>\n<A href='findme'>Top</A><BR>\n</BODY>\n</HTML>","x":918.069580078125,"y":184.8928985595703,"z":"475ab7c8.e433c8","wires":[["57494686.364c9","8e4439e5.71bbc8"]]},{"id":"90758fff.da3468","type":"template","name":"Result HTML","field":"payload","format":"handlebars","template":"<HTML>\n<HEAD>\n<TITLE>No internet, but find me!</TITLE>\n<META name='viewport' content='initial-scale=1.5, width=device-width'/>\n</HEAD>    \n<BODY bgcolor='silver'>\n<TABLE bgcolor='gray' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+2' color='white'><A href='findme' style='text-decoration:none; color:white;'>No internet, but find me!</A></FONT>\n</TD></TR></TABLE><BR>\nYour friend or family is found!<BR><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Device:</B><BR>\nDevice name: {{payload.DEV_NAME}}<BR>\nDevice ID: {{payload.DEV_ID}}<BR>\n</TD></TR></TABLE><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Infomation:</B><BR>\nDate: {{payload.DATE}}<BR>\nPlace: {{payload.PLACE_NAME}}<BR>\n</TD></TR></TABLE><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Map:</B><BR>\n<IMG src=\"http://maps.google.com/maps/api/staticmap?center={{payload.LON}},{{payload.LAT}}&zoom=12&markers=size:mid|color:blue|{{payload.LON}},{{payload.LAT}}&size=300x200&sensor=false&format=jpg-baseline\" />\n</TD></TR></TABLE><BR>\n<A href='findme'>Top</A><BR>\n</BODY>\n</HTML>\n<BR><BR>\n</BODY></HTML>","x":422.28393936157227,"y":949.0953526496887,"z":"475ab7c8.e433c8","wires":[["28c2e2d.625949e"]]},{"id":"76a3b44c.ca996c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":708.0076560974121,"y":1045.1333980560303,"z":"475ab7c8.e433c8","wires":[]},{"id":"b54f935.eb606f","type":"function","name":"toString","func":"var text = msg.payload.toString();\nmsg.payload = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":706.1505393981934,"y":1094.5335445404053,"z":"475ab7c8.e433c8","wires":[["c274e575.05fb38"]]},{"id":"6eb48b48.f8d8cc","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":349.6743354797363,"y":267.2476487159729,"z":"475ab7c8.e433c8","wires":[["2eb2b849.6d45c8"]]},{"id":"6a4fb3a4.7fa40c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1042.0076866149902,"y":625.9500255584717,"z":"475ab7c8.e433c8","wires":[]},{"id":"15debf93.4765e8","type":"change","name":"Delete headers","rules":[{"t":"delete","p":"headers"}],"action":"","property":"","from":"","to":"","reg":false,"x":614.0076866149902,"y":655.2000102996826,"z":"475ab7c8.e433c8","wires":[["e6d62e47.c05418"]]},{"id":"dfcb4d07.3037e8","type":"template","name":"sample data","field":"payload","format":"handlebars","template":"[\n  {\n    \"col1\": \"(7C:1E:52:24:21:8A)\",\n    \"col2\": \"Microsoft Wedge Mobile Keyboard\"\n  },\n  {\n    \"col1\": \"(F0:65:DD:95:90:57)\",\n    \"col2\": \"BUFFALO Bluetooth NFC Mouse\"\n  },\n  {\n    \"col1\": \"(28:37:37:5E:54:6B)\",\n    \"col2\": \"iPod touch\"\n  }\n]","x":639.007640838623,"y":1229.5333843231201,"z":"475ab7c8.e433c8","wires":[["674c6a4e.fd4304","a607834a.59f88"]]},{"id":"e291f748.7ddbb","type":"http in","name":"","url":"/getdevices2","method":"get","swaggerDoc":"","x":394.00764083862305,"y":1221.333387374878,"z":"475ab7c8.e433c8","wires":[["71cae4ea.8e351c"]]},{"id":"674c6a4e.fd4304","type":"http response","name":"","x":829.0076560974121,"y":1226.333387374878,"z":"475ab7c8.e433c8","wires":[]},{"id":"638f56b.c296a28","type":"template","name":"sample data","field":"payload","format":"handlebars","template":"{ \"lat\": 139.485779, \"lon\": 35.339832, \"place_name\": \"ê_ìﬁêÏåßì°ëÚésì°ëÚ\" }","x":634.3409881591797,"y":1680.8001098632812,"z":"475ab7c8.e433c8","wires":[["8685db1f.56942","ffb5d99.f004a28"]]},{"id":"8685db1f.56942","type":"http response","name":"","x":824.3410034179688,"y":1677.600112915039,"z":"475ab7c8.e433c8","wires":[]},{"id":"40b776d8.3f00b","type":"http in","name":"","url":"/getlocation2","method":"get","swaggerDoc":"","x":411.3409729003906,"y":1585.8001098632812,"z":"475ab7c8.e433c8","wires":[["29ef17a5.d610e8"]]},{"id":"8031d587.ce832","type":"template","name":"i=0","field":"i","format":"handlebars","template":"0","x":362.5076713562012,"y":597.1500377655029,"z":"475ab7c8.e433c8","wires":[["9d504403.c7f828"]]},{"id":"9d504403.c7f828","type":"switch","name":"i<4","property":"i","rules":[{"t":"lt","v":"4"},{"t":"else"}],"checkall":"true","outputs":2,"x":514.5076866149902,"y":594.1500377655029,"z":"475ab7c8.e433c8","wires":[["a1916cac.e11dd8"],["15debf93.4765e8"]]},{"id":"6c897b31.6dfbdc","type":"function","name":"i++","func":"msg.i++;\n\nreturn msg;","outputs":1,"noerr":0,"x":771.007625579834,"y":525.1500225067139,"z":"475ab7c8.e433c8","wires":[["9d504403.c7f828"]]},{"id":"645e3460.62433c","type":"function","name":"Save devices","func":"var input = msg.payload;\nmsg.devs = input;\n\nmsg.devs_info = \"\";\nfor (var i = 0; i < msg.devs.length; i++)\n{\n    msg.devs_info += msg.devs[i].col1;\n    msg.devs_info += \" : \";\n    msg.devs_info += msg.devs[i].col2;\n    msg.devs_info += \"\\n\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":779.0076866149902,"y":456.9143123626709,"z":"475ab7c8.e433c8","wires":[["8031d587.ce832"]]},{"id":"d1cd0bf9.32642","type":"json","name":"","x":638.0076866149902,"y":457.9143123626709,"z":"475ab7c8.e433c8","wires":[["645e3460.62433c"]]},{"id":"92b328d8.2e6a7","type":"debug","name":"","active":false,"console":"false","complete":"false","x":957.5076866149902,"y":701.7000560760498,"z":"475ab7c8.e433c8","wires":[]},{"id":"a1916cac.e11dd8","type":"function","name":"Save dev_{name,id}","func":"msg.payload = {};\nif (msg.i < msg.devs.length)\n{\n    msg.payload.dev_id = msg.devs[msg.i].col1;\n    msg.payload.dev_name = msg.devs[msg.i].col2;\n} else {\n    msg.payload.dev_id = \"none\";\n    msg.payload.dev_name = \"none\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":706.5076866149902,"y":584.9500102996826,"z":"475ab7c8.e433c8","wires":[["a8baea60.c0b72"]]},{"id":"331c45c0.b1779a","type":"function","name":"Save location","func":"var input = msg.payload;\nmsg.lat = input.lat;\nmsg.lon = input.lon;\nmsg.place_name = input.place_name;\n\nreturn msg;","outputs":1,"noerr":0,"x":800.6743507385254,"y":282.53335428237915,"z":"475ab7c8.e433c8","wires":[["b011d745.8a547"]]},{"id":"3ade203.4a8f86","type":"json","name":"","x":659.6743507385254,"y":281.53335428237915,"z":"475ab7c8.e433c8","wires":[["331c45c0.b1779a"]]},{"id":"a8baea60.c0b72","type":"function","name":"Create URL","func":"msg.url = \"http://pleasefindme.au-syd.mybluemix.net/uploadapi\"\n+ \"?lat=\" + encodeURI(msg.lat)\n+ \"&lon=\" + encodeURI(msg.lon)\n+ \"&place_name=\" + encodeURI(msg.place_name)\n+ \"&dev_name=\" + encodeURI(msg.payload.dev_name)\n+ \"&dev_id=\" + encodeURI(msg.payload.dev_id);\n\nreturn msg;","outputs":1,"noerr":0,"x":885.5076866149902,"y":584.9500255584717,"z":"475ab7c8.e433c8","wires":[["4fef2792.65a25"]]},{"id":"4fef2792.65a25","type":"http request","name":"upload","method":"GET","ret":"txt","url":"","x":1010.307674407959,"y":583.350019454956,"z":"475ab7c8.e433c8","wires":[["6a4fb3a4.7fa40c","6c897b31.6dfbdc"]]},{"id":"b5d62e7b.f97408","type":"http request","name":"getdevices","method":"GET","ret":"txt","url":"http://localhost:1880/getdevices2","x":514.3910064697266,"y":135.00006866455078,"z":"475ab7c8.e433c8","wires":[["3ac0e6d1.0a80fa"]]},{"id":"a2634345.0e47f8","type":"function","name":"Save devices","func":"var input = msg.payload;\nmsg.devs = input;\n\nmsg.devs_info = \"\";\nfor (var i = 0; i < msg.devs.length; i++)\n{\n    msg.devs_info += msg.devs[i].col1;\n    msg.devs_info += \" : \";\n    msg.devs_info += msg.devs[i].col2;\n    msg.devs_info += \"\\n\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":804.3910064697266,"y":132.50003814697266,"z":"475ab7c8.e433c8","wires":[["b6715b7b.498ea8"]]},{"id":"3ac0e6d1.0a80fa","type":"json","name":"","x":663.3910064697266,"y":133.50003814697266,"z":"475ab7c8.e433c8","wires":[["a2634345.0e47f8"]]},{"id":"d563bca6.b3976","type":"http in","name":"","url":"/search","method":"get","swaggerDoc":"","x":356.4267234802246,"y":754.8452663421631,"z":"475ab7c8.e433c8","wires":[["3b00f004.f97a28"]]},{"id":"f7ac764d.4ff1a8","type":"template","name":"Input HTML","field":"payload","format":"html","template":"<HTML>\n<HEAD>\n<TITLE>No internet, but find me!</TITLE>\n<META name='viewport' content='initial-scale=1.5, width=device-width'/>\n</HEAD>    \n<BODY bgcolor='silver'>\n<TABLE bgcolor='gray' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+2' color='white'><A href='findme' style='text-decoration:none; color:white;'>No internet, but find me!</A></FONT>\n</TD></TR></TABLE><BR>\n<FORM method='GET' action='result'>\nInput the device ID  of your friend or family.<BR><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Qeury:</B><BR>\nDevice ID: <INPUT type='text' name='dev_id' value='{{dev_id}}'><BR>\n</TD></TR></TABLE><BR>\n<INPUT type='submit'>\n</FORM>\n<A href='findme'>Top</A><BR>\n</BODY>\n</HTML>","x":752.0934791564941,"y":769.3214750289917,"z":"475ab7c8.e433c8","wires":[["86ba1959.0e29c","f636904.f09c97"]]},{"id":"86ba1959.0e29c","type":"http response","name":"","x":935.379207611084,"y":769.7500705718994,"z":"475ab7c8.e433c8","wires":[]},{"id":"3b00f004.f97a28","type":"function","name":"(78:24:AF:23:04:C2)","func":"msg.dev_id = \"(78:24:AF:23:04:C2)\";\n\nreturn msg;","outputs":1,"noerr":0,"x":565.4267501831055,"y":754.5118923187256,"z":"475ab7c8.e433c8","wires":[["f7ac764d.4ff1a8"]]},{"id":"6c94c533.1355c4","type":"function","name":"Create URL","func":"msg.url = \"http://pleasefindme.au-syd.mybluemix.net/searchapi\"\n+ \"?dev_id=\" + encodeURI(msg.payload.dev_id);\n\nreturn msg;","outputs":1,"noerr":0,"x":517.9981307983398,"y":860.5596117973328,"z":"475ab7c8.e433c8","wires":[["48574c75.0533ac"]]},{"id":"48574c75.0533ac","type":"http request","name":"search","method":"GET","ret":"txt","url":"","x":649.426700592041,"y":866.2738795280457,"z":"475ab7c8.e433c8","wires":[["62bab7a6.9acf5"]]},{"id":"51c0c5ce.677b34","type":"json","name":"","x":956.5695610046387,"y":871.9881987571716,"z":"475ab7c8.e433c8","wires":[["90758fff.da3468","e8fee495.8e7bb8"]]},{"id":"62bab7a6.9acf5","type":"change","name":"Delete headers","rules":[{"t":"delete","p":"headers"}],"action":"","property":"","from":"","to":"","reg":false,"x":805.1410102844238,"y":869.1309599876404,"z":"475ab7c8.e433c8","wires":[["51c0c5ce.677b34"]]},{"id":"e8fee495.8e7bb8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":999.4267125810895,"y":924.5595698356627,"z":"475ab7c8.e433c8","wires":[]},{"id":"d55382f7.c7cb4","type":"http request","name":"getdevices","method":"GET","ret":"txt","url":"http://pleasefindme.au-syd.mybluemix.net/getdevices2","x":512.7029113769531,"y":186.00006866455078,"z":"475ab7c8.e433c8","wires":[["3ac0e6d1.0a80fa"]]},{"id":"b011d745.8a547","type":"http request","name":"getdevices","method":"GET","ret":"txt","url":"http://pleasefindme.au-syd.mybluemix.net/getdevices3","x":496.36957931518555,"y":502.00001335144043,"z":"475ab7c8.e433c8","wires":[["d1cd0bf9.32642"]]},{"id":"2eb2b849.6d45c8","type":"http request","name":"getlocation","method":"GET","ret":"txt","url":"http://pleasefindme.au-syd.mybluemix.net/getlocation2","x":511.9743537902832,"y":337.3333420753479,"z":"475ab7c8.e433c8","wires":[["3ade203.4a8f86"]]},{"id":"f57303a0.9c94c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":410.2838592529297,"y":1075.0952682495117,"z":"475ab7c8.e433c8","wires":[[]]},{"id":"bb76af2f.44895","type":"template","name":"sample data","field":"payload","format":"handlebars","template":"[\n  {\n    \"col1\": \"(A4:D1:D2:DB:11:15)\",\n    \"col2\": \"iPhone\"\n  },\n  {\n    \"col1\": \"(28:37:37:5E:54:6B)\",\n    \"col2\": \"iPod touch\"\n  }\n]","x":638.307689666748,"y":1313.0000591278076,"z":"475ab7c8.e433c8","wires":[["a8361144.57c9f","4567ae26.ba985"]]},{"id":"e53e6ca2.1ac19","type":"http in","name":"","url":"/getdevices3","method":"get","swaggerDoc":"","x":393.30768966674805,"y":1304.8000621795654,"z":"475ab7c8.e433c8","wires":[["2c559150.d3aa6e"]]},{"id":"a8361144.57c9f","type":"http response","name":"","x":828.3077049255371,"y":1309.8000621795654,"z":"475ab7c8.e433c8","wires":[]},{"id":"8e4439e5.71bbc8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":1094.8225135803223,"y":179.54076385498047,"z":"475ab7c8.e433c8","wires":[]},{"id":"fce0f9fc.031f08","type":"debug","name":"","active":false,"console":"false","complete":"false","x":683.8225708007812,"y":67.54074096679688,"z":"475ab7c8.e433c8","wires":[]},{"id":"f636904.f09c97","type":"debug","name":"","active":false,"console":"false","complete":"false","x":954.8225212097168,"y":813.5407009124756,"z":"475ab7c8.e433c8","wires":[]},{"id":"ffb5d99.f004a28","type":"debug","name":"","active":true,"console":"false","complete":"false","x":850.8225250244141,"y":1720.8140716552734,"z":"475ab7c8.e433c8","wires":[]},{"id":"a607834a.59f88","type":"debug","name":"","active":true,"console":"false","complete":"false","x":847.8225212097168,"y":1268.8139781951904,"z":"475ab7c8.e433c8","wires":[]},{"id":"4567ae26.ba985","type":"debug","name":"","active":true,"console":"false","complete":"false","x":843.8225212097168,"y":1352.8139781951904,"z":"475ab7c8.e433c8","wires":[]},{"id":"29ef17a5.d610e8","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":591.822509765625,"y":1585.0994262695312,"z":"475ab7c8.e433c8","wires":[["5ec6c4c8.a1393c"]]},{"id":"71cae4ea.8e351c","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":499.8225212097168,"y":1261.099256515503,"z":"475ab7c8.e433c8","wires":[["dfcb4d07.3037e8"]]},{"id":"2c559150.d3aa6e","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":536.8225212097168,"y":1352.099256515503,"z":"475ab7c8.e433c8","wires":[["bb76af2f.44895"]]},{"id":"49801b2e.b67fe4","type":"template","name":"sample data","field":"payload","format":"handlebars","template":"{ \"lat\": 139.172051, \"lon\": 35.290827, \"place_name\": \"ê_ìﬁêÏåßè¨ìcå¥és\" }","x":640.5148315429688,"y":1725.5918579101562,"z":"475ab7c8.e433c8","wires":[["8685db1f.56942"]]},{"id":"b6715b7b.498ea8","type":"change","name":"Delete headers","rules":[{"t":"delete","p":"headers"}],"action":"","property":"","from":"","to":"","reg":false,"x":751.5148239135742,"y":188.54075813293457,"z":"475ab7c8.e433c8","wires":[["581b7d65.8c163c"]]},{"id":"f4569a2.f0ba968","type":"switch","name":"","property":"payload","rules":[{"t":"eq","v":"0"},{"t":"eq","v":"1"}],"checkall":"true","outputs":2,"x":482.22998046875,"y":1701.6926879882812,"z":"475ab7c8.e433c8","wires":[["638f56b.c296a28"],["49801b2e.b67fe4"]]}]