client_env.txt
[{"id":"ffdbd4f9.002428","type":"exec","command":"btdiscovery -d\"%a%\\t%n%\"","addpay":false,"append":"","useSpawn":"","name":"btdiscovery","x":471.99999618530273,"y":1095.9999599456787,"z":"f290f222.0d6f1","wires":[["17e07dc2.e81f82","84fca751.7b0358"],["3971e3e4.c68e1c"],["3971e3e4.c68e1c"]]},{"id":"3971e3e4.c68e1c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":659.9999961853027,"y":1142.8095531463623,"z":"f290f222.0d6f1","wires":[]},{"id":"9ad8f5ab.652708","type":"csv","name":"","sep":"\\t","hdrin":"","hdrout":"","multi":"mult","ret":"\\r\\n","temp":"","x":742.5715446472168,"y":1090.095380783081,"z":"f290f222.0d6f1","wires":[["a89d73b0.57629","6809332c.97f6cc"]]},{"id":"a89d73b0.57629","type":"debug","name":"","active":true,"console":"false","complete":"false","x":874.7619132995605,"y":1147.0952587127686,"z":"f290f222.0d6f1","wires":[]},{"id":"8c0ffdc5.73f","type":"http request","name":"","method":"GET","ret":"txt","url":"http://localhost:5448/getlocjs?m=g,l,p&usecache=0&fmt=jsonp&appk=k3wBu9LyAjx89fN7Eyic8zSGR6x9IdzYLh7DIGI3di-eoyc9MeuSgPp3Vqj7uIgtmBrtyNxWnoUMYD1hnp6L-VCxCg7w1soS.POUDjNjuG6Xv7HC9kCTCwrAivgubjUemcwjqxiNMp0k2znipszqrwSErJiN2O.oUJ7ACS56wMalqYIU6bEpjhJtpW8fzAT5tKVj80fF1ffrO06g8omquf6VCoYCGXZJp4qHb1XcRxFEdKLlgwZ3M.-st5uVATSYDIz2tKGsW7nVn.qdcXvRtCNoWZxpzdHbLzPSoMcjjacbSNwCV9vBH30wXglq8Vy-zBFYKQdqGRyR3uoA1Z9chA__,bm9kZQ__,bm9kZQ__","x":508.7714672088623,"y":1246.7715501785278,"z":"f290f222.0d6f1","wires":[["27b33f4c.d84cc","740e044e.8bf1fc"]]},{"id":"76d5270f.892ad8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":322.9143371582031,"y":1198.628662109375,"z":"f290f222.0d6f1","wires":[["8c0ffdc5.73f"]]},{"id":"740e044e.8bf1fc","type":"debug","name":"","active":true,"console":"false","complete":"false","x":809.6286106109619,"y":1249.7715768814087,"z":"f290f222.0d6f1","wires":[]},{"id":"d2b5ba07.2d4a48","type":"json","name":"","x":553.7143001556396,"y":1305.428650856018,"z":"f290f222.0d6f1","wires":[["3ae21f1c.c51de"]]},{"id":"27b33f4c.d84cc","type":"function","name":"Replace","func":"var tmp = msg.payload;\nmsg.payload = tmp.replace(\"recvLoc2(\",\"\")\n                .replace(/\\)$/,\"\");\nreturn msg;","outputs":1,"noerr":0,"x":420.85715675354004,"y":1309.714352607727,"z":"f290f222.0d6f1","wires":[["d2b5ba07.2d4a48"]]},{"id":"3ae21f1c.c51de","type":"function","name":"Copy","func":"var tmp = msg.payload;\nmsg.x = tmp[1].x;\nmsg.y = tmp[1].y;\nmsg.place_name = tmp[1].info.addr;\nmsg.payload = {};\nmsg.payload.lat = msg.x;\nmsg.payload.lon = msg.y;\nmsg.payload.place_name = msg.place_name;\n\nreturn msg;","outputs":1,"noerr":0,"x":673.7142810821533,"y":1304.0000791549683,"z":"f290f222.0d6f1","wires":[["740e044e.8bf1fc","2408a631.dbf75a"]]},{"id":"2408a631.dbf75a","type":"http response","name":"","x":800.8571491241455,"y":1304.000096321106,"z":"f290f222.0d6f1","wires":[]},{"id":"bba3cba5.445c38","type":"http in","name":"","url":"/getlocation","method":"get","swaggerDoc":"","x":325.00001525878906,"y":1244.0000305175781,"z":"f290f222.0d6f1","wires":[["8c0ffdc5.73f"]]},{"id":"3bf3b46c.c40c4c","type":"http in","name":"","url":"/getdevices","method":"get","swaggerDoc":"","x":300.16669845581055,"y":1143.3333168029785,"z":"f290f222.0d6f1","wires":[["ffdbd4f9.002428"]]},{"id":"6809332c.97f6cc","type":"http response","name":"","x":871.095287322998,"y":1090.3332958221436,"z":"f290f222.0d6f1","wires":[]},{"id":"3a5c22d3.c5a3de","type":"http in","name":"","url":"/findme","method":"get","swaggerDoc":"","x":251.6667137145996,"y":124.00002098083496,"z":"f290f222.0d6f1","wires":[["58271569.a7d8ec"]]},{"id":"58271569.a7d8ec","type":"template","name":"HTML","field":"payload","format":"handlebars","template":"<HTML>\n<HEAD>\n<TITLE>No internet, but find me!</TITLE>\n<META name='viewport' content='initial-scale=1.5, width=device-width'/>\n</HEAD>    \n<BODY bgcolor='silver'>\n<TABLE bgcolor='gray' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+2' color='white'><A href='findme' style='text-decoration:none; color:white;'>No internet, but find me!</A></FONT>\n</TD></TR></TABLE><BR>\nIn this service, you can search<BR>\nthe location of your friends and family<BR>\nwhen they cannot use the Internet connections.<BR><BR>\nFor user:<BR>\n<TABLE bgcolor='blue' style='border:1px solid gray;border-radius: 5px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+1' color='white'><A href='register' style='text-decoration:none; color:white;'>Register your friends and family</A></FONT>\n</TD></TR></TABLE><BR>\n<BR>\nFor volunteers:<BR>\n<TABLE bgcolor='green' style='border:1px solid gray;border-radius: 5px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+1' color='white'><A href='upload' style='text-decoration:none; color:white;'>Upload device IDs around you</A></FONT>\n</TD></TR></TABLE><BR>\n<BR>\nFor user:<BR>\n<TABLE bgcolor='red' style='border:1px solid gray;border-radius: 5px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+1' color='white'><A href='search' style='text-decoration:none; color:white;'>Search your friends and family</A></FONT>\n</TD></TR></TABLE><BR>\n</BODY>\n</HTML>","x":421.66674423217773,"y":125.42858409881592,"z":"f290f222.0d6f1","wires":[["9ad0ebb6.652f18","d827a190.27d86"]]},{"id":"9ad0ebb6.652f18","type":"http response","name":"","x":578.8095779418945,"y":125.42859268188477,"z":"f290f222.0d6f1","wires":[]},{"id":"7da019b9.825fe8","type":"http in","name":"","url":"/upload","method":"get","swaggerDoc":"","x":253.3333740234375,"y":404.1905059814453,"z":"f290f222.0d6f1","wires":[["9fe84a29.6017b8"]]},{"id":"e55721d8.1aa8e","type":"http in","name":"","url":"/register","method":"get","swaggerDoc":"","x":254.14292907714844,"y":236.00006103515625,"z":"f290f222.0d6f1","wires":[["7f5e5587.80a1ac"]]},{"id":"77f1701b.880e9","type":"http in","name":"","url":"/result","method":"get","swaggerDoc":"","x":272.71441650390625,"y":900.5239806175232,"z":"f290f222.0d6f1","wires":[["72ba6192.8d45a"]]},{"id":"aea63e2a.5159c","type":"template","name":"HTML","field":"payload","format":"handlebars","template":"<HTML>\n<HEAD>\n<TITLE>No internet, but find me!</TITLE>\n<META name='viewport' content='initial-scale=1.5, width=device-width'/>\n</HEAD>    \n<BODY bgcolor='silver'>\n<TABLE bgcolor='gray' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+2' color='white'><A href='findme' style='text-decoration:none; color:white;'>No internet, but find me!</A></FONT>\n</TD></TR></TABLE><BR>\nThank you for your cooperation.<BR>\nThese data was uploaded.<BR><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Device IDs:</B><BR>\n<PRE>{{devs_info}}</PRE>\n</TD></TR></TABLE><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Infomation:</B><BR>\nLongitude: {{lat}}<BR>\nLatitude: {{lon}}<BR>\nPlace: {{place_name}}<BR>\n</TD></TR></TABLE><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Map:</B><BR>\n<IMG src=\"http://maps.google.com/maps/api/staticmap?center={{lon}},{{lat}}&zoom=12&markers=size:mid|color:blue|{{lon}},{{lat}}&size=300x200&sensor=false&format=jpg-baseline\" />\n</TD></TR></TABLE><BR>\n<A href='findme'>Top</A><BR>\n</BODY>\n</HTML>\n<BR><BR>\n</BODY></HTML>","x":683.0953216552734,"y":691.2857360839844,"z":"f290f222.0d6f1","wires":[["90535e77.6faca","de4d719d.21b29"]]},{"id":"90535e77.6faca","type":"http response","name":"","x":821.6667404174805,"y":695.5714511871338,"z":"f290f222.0d6f1","wires":[]},{"id":"e5b6d1e0.1a493","type":"http request","name":"getdevices","method":"GET","ret":"txt","url":"http://localhost:1880/getdevices","x":409.9524612426758,"y":495.4285717010498,"z":"f290f222.0d6f1","wires":[["2377d49e.dc882c"]]},{"id":"9fe84a29.6017b8","type":"http request","name":"getlocation","method":"GET","ret":"txt","url":"http://localhost:1880/getlocation","x":428.1905822753906,"y":383.4762268066406,"z":"f290f222.0d6f1","wires":[["1c72cdfb.e38d32"]]},{"id":"511ae892.aee518","type":"http response","name":"","x":512.7143859863281,"y":984.9524536132812,"z":"f290f222.0d6f1","wires":[]},{"id":"10ed0bf2.ef12f4","type":"template","name":"HTML","field":"payload","format":"handlebars","template":"<HTML>\n<HEAD>\n<TITLE>No internet, but find me!</TITLE>\n<META name='viewport' content='initial-scale=1.5, width=device-width'/>\n</HEAD>    \n<BODY bgcolor='silver'>\n<TABLE bgcolor='gray' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+2' color='white'><A href='findme' style='text-decoration:none; color:white;'>No internet, but find me!</A></FONT>\n</TD></TR></TABLE><BR>\nNote the device IDs  of your friend or family.<BR><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Your friend and family IDs:</B><BR>\n<PRE>{{devs_info}}</PRE>\n</TD></TR></TABLE><BR>\n<A href='findme'>Top</A><BR>\n</BODY>\n</HTML>","x":645.9286499023438,"y":293.8928985595703,"z":"f290f222.0d6f1","wires":[["a8a21a5c.575de8","fc352408.03cad8"]]},{"id":"2a268974.d5d976","type":"template","name":"Result HTML","field":"payload","format":"handlebars","template":"<HTML>\n<HEAD>\n<TITLE>No internet, but find me!</TITLE>\n<META name='viewport' content='initial-scale=1.5, width=device-width'/>\n</HEAD>    \n<BODY bgcolor='silver'>\n<TABLE bgcolor='gray' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+2' color='white'><A href='findme' style='text-decoration:none; color:white;'>No internet, but find me!</A></FONT>\n</TD></TR></TABLE><BR>\nYour friend or family is found!<BR><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Device:</B><BR>\nDevice name: {{payload.DEV_NAME}}<BR>\nDevice ID: {{payload.DEV_ID}}<BR>\n</TD></TR></TABLE><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Infomation:</B><BR>\nDate: {{payload.DATE}}<BR>\nPlace: {{payload.PLACE_NAME}}<BR>\n</TD></TR></TABLE><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Map:</B><BR>\n<IMG src=\"http://maps.google.com/maps/api/staticmap?center={{payload.LON}},{{payload.LAT}}&zoom=12&markers=size:mid|color:blue|{{payload.LON}},{{payload.LAT}}&size=300x200&sensor=false&format=jpg-baseline\" />\n</TD></TR></TABLE><BR>\n<A href='findme'>Top</A><BR>\n</BODY>\n</HTML>\n<BR><BR>\n</BODY></HTML>","x":334.1429977416992,"y":985.0953392982483,"z":"f290f222.0d6f1","wires":[["511ae892.aee518"]]},{"id":"84fca751.7b0358","type":"debug","name":"","active":true,"console":"false","complete":"false","x":619.8667106628418,"y":1043.1333446502686,"z":"f290f222.0d6f1","wires":[]},{"id":"17e07dc2.e81f82","type":"function","name":"toString","func":"var text = msg.payload.toString();\nmsg.payload = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":618.009593963623,"y":1092.5334911346436,"z":"f290f222.0d6f1","wires":[["9ad8f5ab.652708"]]},{"id":"a6d612f4.5929f","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":263.53338623046875,"y":368.2476501464844,"z":"f290f222.0d6f1","wires":[["9fe84a29.6017b8"]]},{"id":"3a854d05.c57ab2","type":"debug","name":"","active":true,"console":"false","complete":"false","x":953.8667449951172,"y":661.9500122070312,"z":"f290f222.0d6f1","wires":[]},{"id":"b10c71be.4ef39","type":"change","name":"Delete headers","rules":[{"t":"delete","p":"headers"}],"action":"","property":"","from":"","to":"","reg":false,"x":525.8667449951172,"y":691.1999969482422,"z":"f290f222.0d6f1","wires":[["aea63e2a.5159c"]]},{"id":"8d61b0b9.729e5","type":"template","name":"i=0","field":"i","format":"handlebars","template":"0","x":274.3667297363281,"y":633.1500244140625,"z":"f290f222.0d6f1","wires":[["87dcc36b.78234"]]},{"id":"87dcc36b.78234","type":"switch","name":"i<4","property":"i","rules":[{"t":"lt","v":"4"},{"t":"else"}],"checkall":"true","outputs":2,"x":426.3667449951172,"y":630.1500244140625,"z":"f290f222.0d6f1","wires":[["9cd76155.6328a"],["b10c71be.4ef39"]]},{"id":"af6dba93.509248","type":"function","name":"i++","func":"msg.i++;\n\nreturn msg;","outputs":1,"noerr":0,"x":682.8666839599609,"y":561.1500091552734,"z":"f290f222.0d6f1","wires":[["87dcc36b.78234"]]},{"id":"5436a487.abc95c","type":"function","name":"Save devices","func":"var input = msg.payload;\nmsg.devs = input;\n\nmsg.devs_info = \"\";\nfor (var i = 0; i < msg.devs.length; i++)\n{\n    msg.devs_info += msg.devs[i].col1;\n    msg.devs_info += \" : \";\n    msg.devs_info += msg.devs[i].col2;\n    msg.devs_info += \"\\n\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690.8667449951172,"y":492.91429901123047,"z":"f290f222.0d6f1","wires":[["8d61b0b9.729e5"]]},{"id":"2377d49e.dc882c","type":"json","name":"","x":549.8667449951172,"y":493.91429901123047,"z":"f290f222.0d6f1","wires":[["5436a487.abc95c"]]},{"id":"de4d719d.21b29","type":"debug","name":"","active":true,"console":"false","complete":"false","x":869.3667449951172,"y":737.7000427246094,"z":"f290f222.0d6f1","wires":[]},{"id":"9cd76155.6328a","type":"function","name":"Save dev_{name,id}","func":"msg.payload = {};\nif (msg.i < msg.devs.length)\n{\n    msg.payload.dev_id = msg.devs[msg.i].col1;\n    msg.payload.dev_name = msg.devs[msg.i].col2;\n} else {\n    msg.payload.dev_id = \"none\";\n    msg.payload.dev_name = \"none\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":618.3667449951172,"y":620.9499969482422,"z":"f290f222.0d6f1","wires":[["82923a13.7d6dc8"]]},{"id":"6b8afbf4.947504","type":"function","name":"Save location","func":"var input = msg.payload;\nmsg.lat = input.lat;\nmsg.lon = input.lon;\nmsg.place_name = input.place_name;\n\nreturn msg;","outputs":1,"noerr":0,"x":714.5334014892578,"y":383.5333557128906,"z":"f290f222.0d6f1","wires":[["e5b6d1e0.1a493"]]},{"id":"1c72cdfb.e38d32","type":"json","name":"","x":573.5334014892578,"y":382.5333557128906,"z":"f290f222.0d6f1","wires":[["6b8afbf4.947504"]]},{"id":"82923a13.7d6dc8","type":"function","name":"Create URL","func":"msg.url = \"http://pleasefindme.au-syd.mybluemix.net/uploadapi\"\n+ \"?lat=\" + encodeURI(msg.lat)\n+ \"&lon=\" + encodeURI(msg.lon)\n+ \"&place_name=\" + encodeURI(msg.place_name)\n+ \"&dev_name=\" + encodeURI(msg.payload.dev_name)\n+ \"&dev_id=\" + encodeURI(msg.payload.dev_id);\n\nreturn msg;","outputs":1,"noerr":0,"x":797.3667449951172,"y":620.9500122070312,"z":"f290f222.0d6f1","wires":[["e8ff5fd.f1700a"]]},{"id":"e8ff5fd.f1700a","type":"http request","name":"upload","method":"GET","ret":"txt","url":"","x":922.1667327880859,"y":619.3500061035156,"z":"f290f222.0d6f1","wires":[["3a854d05.c57ab2","af6dba93.509248"]]},{"id":"7f5e5587.80a1ac","type":"http request","name":"getdevices","method":"GET","ret":"txt","url":"http://localhost:1880/getdevices","x":421.2500686645508,"y":232.00006675720215,"z":"f290f222.0d6f1","wires":[["e8700531.178ff8"]]},{"id":"72658f22.8d9a7","type":"function","name":"Save devices","func":"var input = msg.payload;\nmsg.devs = input;\n\nmsg.devs_info = \"\";\nfor (var i = 0; i < msg.devs.length; i++)\n{\n    msg.devs_info += msg.devs[i].col1;\n    msg.devs_info += \" : \";\n    msg.devs_info += msg.devs[i].col2;\n    msg.devs_info += \"\\n\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":711.2500686645508,"y":229.50003623962402,"z":"f290f222.0d6f1","wires":[["e079c52a.1f8638"]]},{"id":"e8700531.178ff8","type":"json","name":"","x":570.2500686645508,"y":230.50003623962402,"z":"f290f222.0d6f1","wires":[["72658f22.8d9a7"]]},{"id":"9f9801d7.6068","type":"http in","name":"","url":"/search","method":"get","swaggerDoc":"","x":268.28578186035156,"y":790.8452529907227,"z":"f290f222.0d6f1","wires":[["34865738.cb79a8"]]},{"id":"6342b41d.9cbd4c","type":"template","name":"Input HTML","field":"payload","format":"html","template":"<HTML>\n<HEAD>\n<TITLE>No internet, but find me!</TITLE>\n<META name='viewport' content='initial-scale=1.5, width=device-width'/>\n</HEAD>    \n<BODY bgcolor='silver'>\n<TABLE bgcolor='gray' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<FONT size='+2' color='white'><A href='findme' style='text-decoration:none; color:white;'>No internet, but find me!</A></FONT>\n</TD></TR></TABLE><BR>\n<FORM method='GET' action='result'>\nInput the device ID  of your friend or family.<BR><BR>\n<TABLE bgcolor='white' style='border:2px solid gray;border-radius: 10px;' cellspacing='0' cellpadding='10'>\n<TR><TD>\n<B>Qeury:</B><BR>\nDevice ID: <INPUT type='text' name='dev_id' value='{{dev_id}}'><BR>\n</TD></TR></TABLE><BR>\n<INPUT type='submit'>\n</FORM>\n<A href='findme'>Top</A><BR>\n</BODY>\n</HTML>","x":663.9525375366211,"y":805.3214616775513,"z":"f290f222.0d6f1","wires":[["de4430ee.21bbd","b92652ee.46d9b"]]},{"id":"de4430ee.21bbd","type":"http response","name":"","x":847.2382659912109,"y":805.750057220459,"z":"f290f222.0d6f1","wires":[]},{"id":"34865738.cb79a8","type":"function","name":"(78:24:AF:23:04:C2)","func":"msg.dev_id = \"(78:24:AF:23:04:C2)\";\n\nreturn msg;","outputs":1,"noerr":0,"x":477.2858085632324,"y":790.5118789672852,"z":"f290f222.0d6f1","wires":[["6342b41d.9cbd4c"]]},{"id":"72ba6192.8d45a","type":"function","name":"Create URL","func":"msg.url = \"http://pleasefindme.au-syd.mybluemix.net/searchapi\"\n+ \"?dev_id=\" + encodeURI(msg.payload.dev_id);\n\nreturn msg;","outputs":1,"noerr":0,"x":429.8571891784668,"y":896.5595984458923,"z":"f290f222.0d6f1","wires":[["365f5615.c9a0aa"]]},{"id":"365f5615.c9a0aa","type":"http request","name":"search","method":"GET","ret":"txt","url":"","x":561.285758972168,"y":902.2738661766052,"z":"f290f222.0d6f1","wires":[["b911420e.46eec"]]},{"id":"766255a7.899dac","type":"json","name":"","x":868.4286193847656,"y":907.9881854057312,"z":"f290f222.0d6f1","wires":[["2a268974.d5d976","4bdf280f.b420d8"]]},{"id":"b911420e.46eec","type":"change","name":"Delete headers","rules":[{"t":"delete","p":"headers"}],"action":"","property":"","from":"","to":"","reg":false,"x":717.0000686645508,"y":905.1309466362,"z":"f290f222.0d6f1","wires":[["766255a7.899dac"]]},{"id":"4bdf280f.b420d8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":911.2857709612165,"y":960.5595564842223,"z":"f290f222.0d6f1","wires":[]},{"id":"7558a9de.8aa758","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":322.1429138183594,"y":1073.09521484375,"z":"f290f222.0d6f1","wires":[["ffdbd4f9.002428"]]},{"id":"a8a21a5c.575de8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":802.6815795898438,"y":331.54078674316406,"z":"f290f222.0d6f1","wires":[]},{"id":"d827a190.27d86","type":"debug","name":"","active":false,"console":"false","complete":"false","x":589.6816368103027,"y":171.54076194763184,"z":"f290f222.0d6f1","wires":[]},{"id":"b92652ee.46d9b","type":"debug","name":"","active":true,"console":"false","complete":"false","x":866.6815795898438,"y":849.5406875610352,"z":"f290f222.0d6f1","wires":[]},{"id":"fc352408.03cad8","type":"http response","name":"","x":782,"y":291.0000305175781,"z":"f290f222.0d6f1","wires":[]},{"id":"e079c52a.1f8638","type":"change","name":"Delete headers","rules":[{"t":"delete","p":"headers"}],"action":"","property":"","from":"","to":"","reg":false,"x":475,"y":294.0000305175781,"z":"f290f222.0d6f1","wires":[["10ed0bf2.ef12f4"]]}]