server_env_on_bluemix.txt
[{"id":"3005a774.1236d","type":"inject","name":"CREATE TABLE","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":136.1999969482422,"y":21,"z":"beb51359.b71f78","wires":[["3fcf080e.bf5ab"]]},{"id":"3fcf080e.bf5ab","type":"dashDB in","service":"dashDB-qr","query":"CREATE TABLE DATA (DATE VARCHAR(255), LAT VARCHAR(255), LON VARCHAR(255), PLACE_NAME VARCHAR(255),DEV_NAME VARCHAR(255), DEV_ID VARCHAR(255))","params":"","name":"","x":303.1999969482422,"y":21,"z":"beb51359.b71f78","wires":[["cf86b05f.c747c8"]]},{"id":"cf86b05f.c747c8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":459.20001220703125,"y":20,"z":"beb51359.b71f78","wires":[]},{"id":"4e529d51.2595ac","type":"inject","name":"DROP TABLE","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":129,"y":74,"z":"beb51359.b71f78","wires":[["96ce7e4f.dcef38"]]},{"id":"96ce7e4f.dcef38","type":"dashDB in","service":"dashDB-qr","query":"DROP TABLE DATA","params":"","name":"","x":296,"y":74,"z":"beb51359.b71f78","wires":[["b9f6dc9d.f0e6d8"]]},{"id":"b9f6dc9d.f0e6d8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":452.00001525878906,"y":73,"z":"beb51359.b71f78","wires":[]},{"id":"949195a6.3605a","type":"inject","name":"INSERT DATA","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":127.19998168945312,"y":122,"z":"beb51359.b71f78","wires":[["622228a9.544ac"]]},{"id":"622228a9.544ac","type":"dashDB in","service":"dashDB-qr","query":"INSERT INTO DATA VALUES(451,4513, 4515, 'naruda','devname', 'devid')","params":"","name":"","x":418.20001220703125,"y":128,"z":"beb51359.b71f78","wires":[["b88234ad.d20098"]]},{"id":"b88234ad.d20098","type":"debug","name":"","active":true,"console":"false","complete":"false","x":581.2000122070312,"y":126,"z":"beb51359.b71f78","wires":[]},{"id":"3e9d65bf.86765a","type":"inject","name":"SELECT DATA","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":119.99998474121094,"y":318,"z":"beb51359.b71f78","wires":[["c71acce1.e0f37"]]},{"id":"c71acce1.e0f37","type":"dashDB in","service":"dashDB-qr","query":"SELECT * FROM DATA","params":"","name":"","x":427,"y":318,"z":"beb51359.b71f78","wires":[["1bda8d3a.ef1483"]]},{"id":"1bda8d3a.ef1483","type":"debug","name":"","active":true,"console":"false","complete":"false","x":591,"y":313,"z":"beb51359.b71f78","wires":[]},{"id":"338ef096.1ad508","type":"http in","name":"","url":"/searchapi","method":"get","swaggerDoc":"","x":125.19999694824219,"y":445,"z":"beb51359.b71f78","wires":[["7b9fb2b7.b438ec","c5625354.8929e8"]]},{"id":"8a14ae61.06977","type":"http response","name":"","x":620.2000122070312,"y":221.99998474121094,"z":"beb51359.b71f78","wires":[]},{"id":"1e42839c.e43024","type":"http response","name":"","x":607.2000122070312,"y":427,"z":"beb51359.b71f78","wires":[]},{"id":"2cac5a0c.37fc5e","type":"function","name":"set values","func":"msg.date = new Date()+\"\";\nmsg.lat = \"lat\";\nmsg.lon = \"lon\";\nmsg.place_name = \"placename\";\nmsg.dev_name = \"dev_name\";\nmsg.dev_id = \"id:id\";\n\nreturn msg;","outputs":1,"noerr":0,"x":282.20001220703125,"y":171,"z":"beb51359.b71f78","wires":[["1ee6be27.c302ba"]]},{"id":"911a0da5.cc873","type":"dashDB in","service":"dashDB-qr","query":"INSERT INTO DATA VALUES(?, ?, ?, ?, ?, ?)","params":"msg.date,msg.lat,msg.lon,msg.place_name,msg.dev_name,msg.dev_id","name":"","x":580.2000122070312,"y":178.99998474121094,"z":"beb51359.b71f78","wires":[["b88234ad.d20098","8a14ae61.06977"]]},{"id":"530df809.bba1f","type":"inject","name":"INSERT DATA","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":117.19999694824219,"y":169.1999969482422,"z":"beb51359.b71f78","wires":[["2cac5a0c.37fc5e"]]},{"id":"1ee6be27.c302ba","type":"dashDB in","service":"dashDB-qr","query":"DELETE FROM DATA WHERE DEV_ID = ?","params":"msg.dev_id","name":"","x":422.20001220703125,"y":179.6000213623047,"z":"beb51359.b71f78","wires":[["911a0da5.cc873"]]},{"id":"dfa1b876.3a88b","type":"function","name":"set values","func":"msg.date = new Date()+\"\";\nmsg.lat = msg.payload.lat;\nmsg.lon = msg.payload.lon;\nmsg.place_name = msg.payload.place_name;\nmsg.dev_name = msg.payload.dev_name;\nmsg.dev_id = msg.payload.dev_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":283.20001220703125,"y":227.1999969482422,"z":"beb51359.b71f78","wires":[["1ee6be27.c302ba"]]},{"id":"3af5b0c7.274cb8","type":"http in","name":"","url":"/uploadapi","method":"get","swaggerDoc":"","x":109.19999694824219,"y":221.1999969482422,"z":"beb51359.b71f78","wires":[["dfa1b876.3a88b","f6efec4a.828418"]]},{"id":"7b9fb2b7.b438ec","type":"function","name":"set values","func":"msg.dev_id = msg.payload.dev_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":288.20001220703125,"y":440.20001220703125,"z":"beb51359.b71f78","wires":[["2952626d.b01276"]]},{"id":"2952626d.b01276","type":"dashDB in","service":"dashDB-qr","query":"SELECT * FROM DATA WHERE DEV_ID = ?","params":"msg.dev_id","name":"","x":452.20001220703125,"y":414.20001220703125,"z":"beb51359.b71f78","wires":[["1bda8d3a.ef1483","1e42839c.e43024"]]},{"id":"1865486b.8ac018","type":"inject","name":"SELECT DATA","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":126.19999694824219,"y":393.20001220703125,"z":"beb51359.b71f78","wires":[["a9bb23ac.6b94a"]]},{"id":"a9bb23ac.6b94a","type":"function","name":"set values","func":"msg.dev_id = \"id:id\";\n\nreturn msg;","outputs":1,"noerr":0,"x":308.20001220703125,"y":387.6000061035156,"z":"beb51359.b71f78","wires":[["2952626d.b01276"]]},{"id":"c5625354.8929e8","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":331.1999969482422,"y":509.1999969482422,"z":"beb51359.b71f78","wires":[["1e42839c.e43024"]]},{"id":"f6efec4a.828418","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":287.20001220703125,"y":274,"z":"beb51359.b71f78","wires":[["8a14ae61.06977"]]}]